<style>
    /* ERROR MESSAGES */

.error_message {
    padding: 0.8rem;
    background: rgb(244, 169, 169);
    border: 1px solid rgb(185, 28, 28);
    color: rgb(132, 12, 12);
    border-radius: 0.5rem;
}

.success_message {
    padding: 0.8rem;
    background: rgb(46, 232, 46);
    border: 1px solid rgb(178, 240, 178);
    color: rgb(2, 58, 2);
    border-radius: 0.5rem;
}
</style>
    {% if messages %}


    {% for message in messages %}



    <div class="{% if message.tags == "error" %}error_message{% else %}success_message{% endif %}">
        <p>{{message}}</p>
    </div>


    {% endfor %}




    {% endif %}
